/* ROOT */

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* PRODUCTS */

#compare-products nav.desktop {
    display: flex;
}

#compare-products nav.desktop > select {
    min-width: 30%;
    margin-right: 1em;
}

#compare-products nav.mobile {
    display: none;
}

#compare-products nav.mobile ul.tabs li {
    display: inline-block;
    width: 32%;
}

#compare-products nav.mobile #mobselect2 {
    display: none;
}

#compare-products nav.mobile #mobselect3 {
    display: none;
}

#compare-products nav.mobile ul.prevnext li {
    display: inline-block;
}

#compare-products nav.mobile ul.prevnext li:first-child {
    width: 20%;
}

#compare-products nav.mobile ul.prevnext li:nth-child(2) {
    width: 56%;
}

#compare-products nav.mobile ul.prevnext li:last-child {
    width: 20%;
}

/* RESULTS */

#compare-products section.results {
    display: flex;
}

#compare-products section.results > section {
    min-width: 30%;
}

#compare-products section.results > section > article {
    visibility: hidden;
}

#compare-products section.results > section > article.hidden {
    display: none;
}

#compare-products section.results > section > article.visible {
    visibility: visible;
    display: block;
}


/* RESPONSIVE */

@media only screen and (max-width: 767px){

    #compare-products nav.desktop {
        display: none;
    }

    #compare-products nav.mobile {
        display: block;
    }

    #compare-products h2 {
        display: none;
    }  

    #compare-products section.results > section {
        min-width: 100%;
    }

    #compare-products section.results > section:first-child > article:first-child {
        visibility: visible;
    }

}
